.icon {
    color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
  }
  
  .name {
    font-family: Greycliff CF, var(--mantine-font-family);
    text-align: center; 
  }

  .card {
    background-color: #fbf9f4;
    width: 40%;
    max-width: 1200px; 
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  