
.wrapper {
  min-height: 900px;
  background-size: cover;
  background-image: url('');
}

.form {
  border-right: 1px solid #ed5f49;
  min-height: 900px;
  max-width: 450px;
  padding-top: 80px;
}


.custom-input:focus {
  border-color: #ed5f49;
  box-shadow: 0 0 0 1px;
}


.mantine-Checkbox-input:checked {
  background-color: #F4C283 !important; 
  border-color:  #F4C283 !important; }


.a {
  color: #ed5f49 !important; }


.a:hover { color: #ed5f49 !important;
  color: #cda77e !important; /* Darker shade on hover */
}

.title {
  color: #333;
  font-family: Greycliff CF, var(--mantine-font-family);
}
